
#output_total{
  width: 290px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  cursor: pointer;
  padding-right: 10px;
  border: 1px solid #333;
  background-color: black;
  color: white;
  text-align: right;
}

.output.active {
  display:block;
} 

.row {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 100%;
  cursor: pointer;
}
.num_bth:active{
  border: 1px solid blue;
}


.num_bth{
  width: 70px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  background: #C0C0C0;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #333;
}
#clear, #equal_btn{
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-color: black;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #333;
  background: #C0C0C0;
}
#equal_btn:active{
  border: 1px solid blue;
}
#clear:active{
  border: 1px solid blue;
}